@page
@model MB.Presentation.Razor.Areas.Administrator.Pages.ArticleCategoryManagement.ListModel
@{
}
<div class="card">
    <div class="card-header">
        <h3 class="float-left">Article Category List</h3>
        <div class="float-right">
            <a class="btn btn-success" asp-page="./Create">CreateArticleCategory New</a>
        </div>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Status</th>
                    <th>Creation Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in Model.ArticleCategories)
                {
                    <tr>
                        <td>@category.Id</td>
                        <td>@category.Title</td>
                        <td>
                            @if (!category.IsDeleted)
                            {
                                <i class="fa fa-check" style="font-size: 36px;color: green"></i>
                            }
                            else
                            {
                                <i class="fa fa-close" style="font-size: 36px;color: red"></i>
                            }
                        </td>
                        <td>@category.CreationDate</td>
                        <td>
                            <a class="btn btn-warning float-left mr-3" asp-page="./Edit" asp-route-id="@category.Id">Rename</a>
                            @if (category.IsDeleted)
                            {
                                <form method="post" asp-page-handler="Activate" class="float-left">
                                    <button class="btn btn-success">Activate</button>
                                    <input type="hidden" name="Id" value="@category.Id"/>
                                </form>
                            }
                            else
                            {
                                <form method="post" asp-page-handler="Deactivate" class="float-left">
                                    <button class="btn btn-danger">Deactivate</button>
                                    <input type="hidden" name="Id" value="@category.Id"/>
                                </form>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>