@page "{id:long}"
@model MB.Presentation.Razor.Pages.PostModel
@{
}

<div class="row tm-row">
    <div class="col-lg-8 tm-post-col">
        <div class="tm-post-full">
            <div class="mb-4">

                <h2 class="pt-2 tm-color-primary tm-post-title">@Model.Article.Title</h2>
                <div class="tm-post-title">
                    <img src="/img/@Model.Article.Image" alt="@Model.Article.Title" title="@Model.Article.Title" class="img-fluid">
                </div>
                <div>
                    <p class="tm-mb-40">@Model.Article.CreationDate posted</p>
                    <p>
                        @Model.Article.ShortDescription
                    </p>
                    <p>
                        @Model.Article.Content
                    </p>
                </div>
                <span class="d-block text-right tm-color-primary">@Model.Article.ArticleCategory</span>
            </div>


            <form class="mb-5 tm-comment-form" method="post">
                <h2 class="tm-color-primary tm-post-title mb-4">Your comment</h2>
                <div class="mb-4">
                    <input class="form-control" type="text" name="Name" id="Name" placeholder="Name">
                </div>
                <div class="mb-4">
                    <input class="form-control" name="Email" id="Email" placeholder="Email Address" type="text">
                </div>
                <div class="mb-4">
                    <textarea class="form-control" name="Message" id="Message" placeholder="Your Message" rows="6"></textarea>
                </div>
                <input type="hidden" name="ArticleId" value="@Model.Article.Id" />
                <div class="text-right">
                    <button class="tm-btn tm-btn-primary tm-btn-small">Submit</button>
                </div>
            </form>

            <div>
                <h2 class="tm-color-primary tm-post-title">Comments</h2>
                <hr class="tm-hr-primary tm-mb-45">
                @foreach (var comment in Model.Article.Comments)
                {

                    <div class="tm-comment tm-mb-45">
                        <figure class="tm-comment-figure">
                            <img src="img/comment-1.jpg" alt="Image" class="mb-2 rounded-circle img-thumbnail">
                            <figcaption class="tm-color-primary text-center">@comment.Name</figcaption>
                        </figure>
                        <div>
                            <p>
                               @comment.Message
                            </p>
                            <div class="d-flex justify-content-between">
                                <a href="#" class="tm-color-primary">REPLY</a>
                                <span class="tm-color-primary">@comment.CreationDate</span>
                            </div>
                        </div>
                    </div>

                }
               
            </div>
        </div>
    </div>

</div>